/* Navbar style */
#navbar {
  overflow: hidden;
  background-color: #333;
  background-image: linear-gradient(to right, white, gold);
  z-index: 30;
}

/* Navbar links */
#navbar a {
    float: right;
    display: block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
/* this is added with JS. Makes Navbar stay on top. */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
 /*Navbar buttons*/
.button {
    color: navy;
    font-weight: bold;
    -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
}
.button:hover {
    background-color: red;
    color: white;
	
}


/*Main body of page*/
body {
    background: white;
    background-image: url("assets/starry-sky-2521222_1280-2.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-weight: lighter;
}
.mobileWallpaper {
  display: none;
}
.content_block {
    padding: 25px;
    font-size: 1.2em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    color: rgba(255,255,255,1.00);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: gold;
    font-weight: bold;
    font-family: 'Sarpanch', sans-serif;
}
.center {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    text-shadow: 0px 0px;
    color: rgba(1,0,53,1.00);
    font-weight: bold;
    font-size: 25px;
}

/* Projects */
.projects {
	display: inline-block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
ul {
    list-style-type: none;
    padding-top: 32px;
  
}
li {
    font-size: 18px;
    display: inline-block;
    vertical-align: Middle;
    padding-left: 11px;
}
li figcaption {
     text-align: center;
	  color: rgba(1,0,53,1.00);
  	font-weight: bold;
}
li a:link {
    text-decoration: none;
}
li a:visited {
    color: gold;
    text-decoration: none;
}
li img {
    border: 2px solid gold;
    border-radius: 8px;
    transition: width 2s, height 2s;
    -webkit-transition: width 2s, height 2s;
}
li img:hover {
    width: 248px;
}

/* corporate blurb */
.blurb {
    margin-left: auto;
    margin-right: auto;
}

/* footer*/
footer {
	width: 100%;
	bottom: 0;
	left: 0;
	margin-bottom: auto;
	margin-top: 0px;
	position: relative;
}.nav1 {
	position: absolute;
	color: white;
	right: 350px;
	bottom: 10em;
}
.nav1 a {
	color: white;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 18px;
	line-height: 48px;
	text-decoration: none;
	font-weight: bold;
}

.nav2 {
	position: absolute;
	color: white;
	right: 225px;
	bottom: 10em;
}
.nav2 a {
	color: white;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 18px;
	line-height: 48px;
	text-decoration: none;
	font-weight: bold;
}
.nav3 {
	margin-right: 10px;
	position: absolute;
	color: rgba(250,212,4,1.00);
	right: 225px;
	bottom: 3em;
}
.nav1 a:hover {
	color: white;
}
.nav2 a:hover {
	color: white;
}
.logos {
    float: right;
    margin-right: 50px;
    margin-top: 395px;
    display: inline-block;

}
.logos img {
    padding-right: 25px;
}

/* Parralax Sinfo */
.parallax {
    height: 600px;
    background: transparent;
}

@media only screen and (max-width: 1024px) {
    .projects{
		display: inline-block;
		width: 600px;
    }
	.parallax {
		width: 100%;
	}
  p {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
	.center {
		width: 800px;
		display: block;
		margin-left: auto;
		margin-right: auto;	
	}
  footer {
    width: 1024;
  }

}
@media only screen and (max-width: 768px) {
	.center {
    display: block;
		width: 600px;
		font-size: 32px;
	}
  .parallax {
    display: none;
  }
  .mobileWallpaper {
    display: block;
    width: 768px;
  }
  .project {
    width: 275px;
  }
  #navbar {
    width: 768px;
  }
  nav {
    width: 768px;
  }
  footer {
    display: none;
  }
}
