/* Tiny logo on the Navbar */
.smallLogo {
	padding-top: 5px;
	padding-left: 25px;
	float: left;
	z-index: 31;
	position: relative;
}

/* Navbar style */
#navbar {
  overflow: hidden;
  background-color: #333;
  background-image: linear-gradient(to right, black, red);
  border-radius: 25px;
  z-index: 30;
}
/* Navbar links */
#navbar a {
  float: right;
  display: block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* this is added with JS. Makes Navbar stay on top. */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


 /*Navbar buttons*/
.button {
  color: black;
  font-weight: bold;
  -webkit-transition-duration: 1s; /* Safari */
  transition-duration: 1s;
}

.button:hover {
	background-color: black;
	color: white;
	border-radius: 8px;
	
}

.button_text {
	margin-top: 12px;
}

/*Main body of page*/
body {
	background: white;
	background-image: url("assets/door-bg.jpg");
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
  	background-position: center;
	position:relative;
	font-family: 'Arimo', sans-serif;
}
article {
}
.details {
	text-align: center;
	position: absolute;
	top: 57.5%;
	left: 0;
    right: 0;
}
.content_block {
	font-size: 1.2em;
    text-align: center;
}
.center {
	width: 1200px;
    margin-left:auto; 
    margin-right:auto;
	padding-top: 30px;
	padding-bottom: 30px;
	position: bottom;
	text-shadow: 2px 2px black;
	color: gold;
	font-weight: bold;
	font-size:25px;
}


/* Video Section */
.video_section {
	
	display: grid;
	grid-template-columns: 560px 560px;
	grid-gap: 50px;
	
}

/* Projects */

ul {
    width: 1000px;
	list-style-type: none;
	white-space: nowrap;
	padding-top: 32px;
	padding-bottom: 32px;
	;
}
li {
	font-size: 18px;
	display: inline-block;
	padding-left: 11px;
}
li img{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}
li figcaption {
	 text-align: center;
 }
li a:link {
	text-decoration: none;
}
li a:visited {
	color: gold;
	text-decoration: none;
}
li img {
	border: 2px solid gold;
	border-radius: 8px;
	transition: width 2s, height 2s;
	-webkit-transition: width 2s, height 2s;
}
li img:hover {
	width: 248px;
}

/* footer*/
footer{
	/*border-top: 5px solid gold;*/
	clear: both;
	height: 475px;
	background-color: white;
	background-image:url("assets/archlight-website bottom-image.jpg");
	background-size: cover;
	border-top: 5px solid;
	border-image: linear-gradient(to right, rgba(0, 0, 0, 0), gold) 1;
}

footer dl {
	vertical-align: bottom;
	padding-top: 10%;
	padding-bottom: auto;
	padding-right: 100px;
	display: block;
	float: right;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 2px 2px black;
	color: gold;
}
.logos {
	float: right;
	margin-right: 50px;
	margin-top: 395px;
	display: inline-block;
	
}
.logos img {
	padding-right: 25px;
}

/* Parralax Info */
.parallax_section{
	border-top: 5px solid;
	border-bottom: 5px solid;
	border-radius:25px;
	border-image: linear-gradient(to right, black, red) 1;
	height: 800px;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
  	background-position: 100% auto;
	position:relative;
}

.parallax_image_first{
	background-color: black;
	background-image: url("assets/Shield-BG.jpg");
	background-size: cover;
	background-position: center;
}
.parallax_image_second {
	
	background-color: black;
	background-image: url("assets/Walter-BG.jpg");
	background-size: cover;
	background-position: center;

}
.parallax_image_third {
	background-color: black;
	background-image: url("assets/hangman-bg.jpg");
	background-size: cover;
	background-position: center;

}

@media (max-width: 768px) {
	li img{
		overflow: auto;
	}
	.parallax_section {
		height:600px;
		width: 1020px;
	}
	.parallax_image_first {
		background-size: cover;
	}
	.parallax_image_second {
		background-size:cover;
	}
	.parallax_image_third {
		background-size:cover;
	}
	footer {
		background-size: cover;
	}
}
